<div class="row fotter">
    <div>
        <p id="p">PwC Colombia</p>
    </div>
    <div class="row med">
        <div class="col">
            <a id="col" class="ref1" href="#">Acerca de Nosotros</a>
            <a id="col2" class="ref1" href="#">Nuestros servicios</a>
        </div>
        <div class="row">
            <hr>
            <div class="col">
                <img id="img" src="../../../assets/img/logo_pwc_white.png" alt="">
                <a id="col" class="ref1" href="#">Política de privacidad</a>
                <a id="col2" class="ref1" href="#">Términos legales</a>
                <a id="col3" class="ref1" href="#">Acerca del proveedor de este sitio</a>
            </div>
        </div>
    </div>

</div>