<div class="row">
    <div id="linea">
        <div id="title">
            <h1>
                PDF - Código de conducta, ética e integridad |
                <h1> PwC - Colombia</h1>
            </h1>
        </div>
        <div class="img">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                viewBox="0 0 16 16">
                <path
                    d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
            </svg>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <p>En PricewaterhouseCoopers los negocios son conducidos en el marco de las normas profesionales, leyes,
            reglamentaciones y políticas internas aplicables, además de patrones de conducta y comportamientos, los
            cuáles formalizamos en nuestro Código de Conducta (PDF - 2.18 Mb), aplicable a todos los miembros y firmas
            PwC. También el código de conducta de terceros</p>
        <p>Si usted posee alguna duda o preocupación relacionada a los patrones de conducta de algún miembro de la
            firma, a nosotros nos gustaría escucharlo. Para eso, pedimos la gentileza de enviarnos una descripción del
            caso, para que podamos tratar las cuestiones presentadas. Usted podrá enviar su mensaje de forma anónima o,
            caso desee, informar sus datos de contacto para recibir una respuesta al correo electrónico:
            co_etica@pwc.com </p>
        <p>Esta información será tratada con la debida confidencialidad, respetando los criterios establecidos en
            nuestra Política Complaints & Allegations.</p>
        <p>¿Quieres reportar algún comportamiento que está alejado del Código de Conducta, Ética, Integridad y valores
            de la Firma?</p>
    </div>
    <div class="row">
        <button id ="send">haz aqui</button>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col">
        <div class="boxText">
            <h3 class="h3">Somos una comunidad que da soluciones, combinando la inteligencia humana, la experiencia y la
                innovación
                tecnológica para entregar resultados sostenibles y construir confianza.</h3>
            <h3 class="h3">Todo tiene sentido con La Nueva Ecuación.</h3>
            <a href="#">Mira cómo La Nueva Ecuación puede darte soluciones</a>
        </div>
    </div>
    <div class="col">
        <img id="imagenT" src="../../../assets//img/Screen Shot 2022-03-15 at 11.04.16 AM.png" alt="">
    </div>
</div>