<div class="row box">
<div class="row boxTwo">
    <h1>Nosotros somos PriceWaterhouseCoopers | PwC Colombia</h1>
    <div class="img">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
          </svg>
    </div>
</div>
</div>
<div class="row">
    <div class="col">
        <div id ="title">
            <h2 id ="h1">Somos</h2 >
            <h2>PricewaterhouseCoopers</h2> 
        </div>  
        <p>Llegó a Colombia en 1947 y en julio del año 2000 cambió su nombre a lo que conocemos hoy en día como PricewaterhouseCoopers (PwC) gracias a la fusión de los representantes de Coopers & Lybrand.</p>
        <p>En Colombia estamos comprometidos con el desarrollo empresarial y financiero de nuestros clientes, los cuales se han convertido en nuestro mejor aliado. Por eso, queremos ofrecer una amplia gama de servicios profesionales que puedan necesitar.</p>
        <p>Contamos con un excelente posicionamiento en los sectores y mercados más importantes del país. Queremos seguir creciendo y generar el mayor valor a nuestros clientes.</p>
    </div>
    <div class="col">
        <img id="images" src="../../../assets/img/caminanta.webp" alt="">

    </div>
</div>
<div class="row">
    <div id="box2">
        <h3>¿Por qué PwC?</h3>
        <p>Creemos que la calidad de nuestros servicios debería ser evaluada por nuestros clientes actuales y potenciales, de acuerdo con los siguientes parámetros:</p>
         <h6>Credibilidad pública y confianza</h6>
         <h6>Rapidez y eficacia</h6>
         <h6>Relación costo – beneficio</h6>
         <h6>Expertise</h6>
         <p>PwC está firmemente comprometida a prestar servicios que otorguen valor visible para nuestros clientes. Sabemos que es esencial conocer a profundidad el negocio de cada uno, pues es la manera más efectiva de entender, apropiarnos y ofrecer servicios de calidad superior.</p>
         <p>Queremos ofrecer algo distinto para su compañía y tratar sus necesidades en forma inmediata y eficaz, obteniendo beneficios que puedan ser percibidos</p>
         <p>En PwC ofrecemos servicios de Impuestos y Asesoramiento, Consultoría y Auditoria centrados en la industria, para generar confianza pública y mejorar el valor para nuestros clientes y aquellos a los que les pueda interesar. </p>
    </div>
</div>
<div class="row">
    <button type="button" class="butt">Nuestras oficinas<span class="material-icons">arrow_forward_ios</span></button>
</div>
<div class="row">
    <hr>
    <div class="col">
        <div class="boxText">
            <h3 class="h3">Somos una comunidad que da soluciones, combinando la inteligencia humana, la experiencia y la
                innovación
                tecnológica para entregar resultados sostenibles y construir confianza.</h3>
            <h3 class="h3">Todo tiene sentido con La Nueva Ecuación.</h3>
            <a href="#">Mira cómo La Nueva Ecuación puede darte soluciones</a>
        </div>
    </div>
    <div class="col">
        <img id="imagenT" src="../../../assets//img/Screen Shot 2022-03-15 at 11.04.16 AM.png" alt="">
    </div>
</div>
